{% doc %}
  @param {object} children - The children of the product card
{% enddoc %}

{% capture elements %}
  {% if children == blank %}
    {% content_for 'blocks' %}
  {% else %}
    {{ children }}
  {% endif %}
{% endcapture %}

<li class='splide__slide shopify-block-{{ block.id }}' {{ block.shopify_attributes }}>{{ elements }}</li>

{% schema %}
  {
    "name": "Carousel Item",
    "tag": null,
    "settings": [],
    "blocks": [{ "type": "image" }, { "type": "text" }, { "type": "@theme" }],
    "presets": [{ "name": "Carousel Item", "blocks": [{ "type": "image" }] }]
  }
{% endschema %}
