{% doc %}
  @param {product} product - Product object
{% enddoc %}
<div class='product-card'>
  {% render 'image', desktop_image: closest.product.featured_image, desktop_width: '500' %}
</div>

{% schema %}
  {
    "name": "Product Card"
  }
{% endschema %}
