{% doc %}
  @param {product} product - Product object
{% enddoc %}
<div class='product-card'>
  {% render 'image', desktop_image: closest.product.featured_image, desktop_width: '500' %}
  {% content_for 'block', id: 'product-card-title', type: 'text' %}
</div>

{% schema %}
  {
    "name": "Product Card",
    "blocks": [{ "type": "text" }],
    "presets": [
      {
        "name": "Product Card",
        "blocks": [{ "type": "text", "id": "product-card-title", "static": true, "settings": { "text": "{{ closest.product.title }}" } }]
      }
    ]
  }
{% endschema %}
