img {
  object-fit: var(--fit, fill);
}

picture {
  display: block;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* TEXT Block */
.text {
  text-align: var(--text-align);
  background-color: var(--text-background);
  color: var(--text-color);
  font-size: var(--text-size);
}
.text--title {
  font-size: 2rem;
  font-weight: 700;
}
.text--subtitle {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .text {
    text-align: var(--text-align-mobile);
    font-size: var(--text-size-mobile);
  }
  .text--title__mobile {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .text--subtitle__mobile {
    font-size: 1rem;
  }
}

.padding {
  padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
}

@media screen and (max-width: 768px) {
  .padding {
    padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
  }
}
